<h1>Log in</h1>

<%= form_for(:session, url: 'login') do |f| %>

    <%= f.email_field :email, :placeholder => "Email" %><br>
    <%= f.password_field :password, :placeholder => "Password" %><br>
    <%= f.submit "Log in" %><br>
<% end %>